.input-icon-wrap {
    border: 1px solid #d8dae5;    
    display: flex;
    flex-direction: row;
    border-radius: 4px;
    font-size: 12px;
    line-height: 16px;
    height: 32px;
    outline: none;
    width: 100%;
    color: #474d66;
    font-family: "SF UI Text", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  }
  
  .input-with-icon {
    border: none;
    color: #474d66;
    font-weight: 300;
    font-size: 12px;
    padding-left: 12px;
    box-sizing: border-box;
    flex: 1;
    background-color:transparent;
  }
  
  .input-icon {
    background-color:transparent;
    padding: 8px;
  }
    

