.project-container {
  border: 1px solid #FFF;
  border-radius: 5px;
  padding: 1rem;
  box-shadow: 3px 6px 5px 5px #ddd;
  display: flex;
  flex-direction: column;
}

.project-header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.project-subheading, .project-heading {
  margin: unset;
}

.projects {
  margin: 3%;
}

button {
  align-self: end;
}